@model IEnumerable<Vidly.Models.Movie>

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
        </tr>
    </thead>

    @foreach (var movie in @Model)
    {
        <tr>
            <td>@movie.Name</td>
        </tr>
    }

</table>