@model IEnumerable<Vidly.Models.Movie>

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    </thead>

    @foreach (var movie in @Model)
    {
        <tr>
            <td>
                <a asp-controller="Movies" asp-action="Details" asp-route-Id="@movie.Id">@movie.Name</a>
            </td>
            <td>
                @movie.Genre.Name
            </td>
        </tr>
    }

</table>