@model Vidly.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var customer in Model.Customers)
{
    <h2>@customer.Name</h2>
}

